{% extends "base.html" %}



{% block content %}

        <div class="container-fluid p-5 my-5 border"> 
            <h1 class="text-center">Hello, {{ current_user.username }}! What would you like to learn about?</h1>

            <form action="/" method="GET">
                <input type="text" name="query">
                <input type="submit" value="Search">
            </form>
            <h1> {{message}}</h1>
            {% for topic in topics %}
            <div class="row">

                <a href="{{ url_for('information', info = topic[0]) }}">{{topic[1]}}</a>

                
            </div>
            {% endfor %}
            
        </div>
{% endblock %}
        
